.box,
.header {
  display: flex;
}

.card-header {
  background-color: #2d2d2d;
  color: white;
  padding: 10px 15px 0px;
}

.card-body {
  background-color: white;
}

#username,
#password {
  color: #2d2d2d !important;
}

#password {
  margin-bottom: 1rem;
}

.btn.btn-primary.button {
  background-color: #2d2d2d;
  border-color: #2d2d2d;
}

.d-flex.p-2.justify-content-center.mt-5 {
  margin: 6rem auto auto;
}

.form-group {
  margin-bottom: 0;
}

h1 {
  text-align: center;
  margin-top: 3rem;
}