<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{shrit.Name}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="" alt="" />

    <mat-card-content>
        <p>{{shrit.Color}}</p>
        <p>{{shrit.Price}}</p>
        <p>{{shrit.Description}}</p>
        <p>{{shrit.ImageUrl}}</p>
        <p *ngFor="let size of  sizes"> {{size.size}}</p>
    </mat-card-content>
    <mat-card-actions>
    <button mat-button>Buy</button>
    </mat-card-actions>

</mat-card>



