<h1>{{title}}</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
    <div>
        <label for="name">Name</label>
        <input type="text" id="name" formControlName="name"/>
    </div>
    <div *ngIf="form.controls.name.touched
    && !form.controls.name.valid
    ">
    name is required
    </div>

      <div>
        <label for="color">Color</label>
        <input type="text" id="color" formControlName="color"/>
    </div>
    <div *ngIf="form.controls.color.touched
    && !form.controls.color.valid
    ">
     color is required
    </div>

     <div>
        <label for="price">Price</label>
        <input type="text" id="price" formControlName="price"/>
    </div>
    <div *ngIf="form.controls.price.touched
    && !form.controls.price.valid
    ">
     price is required
    </div>

         <div>
        <label for="description">Description</label>
        <input type="text" id="description" formControlName="description"/>
    </div>
    <div *ngIf="form.controls.description.touched
    && !form.controls.description.valid
    ">
     price is required
    </div>

      <div>
        <label for="imageUrl">Image Url</label>
        <input type="text" id="imageUrl" formControlName="imageUrl"/>
    </div>
    <div *ngIf="form.controls.imageUrl.touched
    && !form.controls.imageUrl.valid
    ">
     price is required
    </div>

    <button [disabled]="!form.valid">{{title}}</button>

</form>
