<h1>{{title}}</h1>

<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>Fill out your shirt infomation</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput  formControlName="name" required>
      </mat-form-field>
         <mat-form-field>
        <mat-label>Color</mat-label>
        <input matInput  formControlName="color" required>
      </mat-form-field>
          <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput  formControlName="price" required>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput  formControlName="description" required>
      </mat-form-field>
       <mat-form-field>
        <mat-label>Image Url</mat-label>
        <input matInput  formControlName="imageUrl" required>
      </mat-form-field>
      <div>
        <button  (click)="submit()" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="form2">
    <form [formGroup]="form2">
      <ng-template matStepLabel>Fill out the size of the shirt</ng-template>
      <mat-form-field>
        <mat-label>Size</mat-label>
        <input matInput formControlName="size" required>
      </mat-form-field>
   
        <input type="hidden" formControlName="shirtId">
      
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button  (click)="submitSize()" mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
     
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>

