<div class="container">
<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="form">
    <form [formGroup]="form">
      <ng-template matStepLabel>Fill out customer information</ng-template>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput  formControlName="name" required [(ngModel)]="Name">
      </mat-form-field>
         <mat-form-field>
        <mat-label>Phone</mat-label>
        <input matInput  formControlName="phone" required [(ngModel)]="Phone">
      </mat-form-field>
          <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput  formControlName="email" required [(ngModel)]="Email">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput  formControlName="address" required [(ngModel)]="Address">
      </mat-form-field>
       <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput  formControlName="username" required [(ngModel)]="Username">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput  formControlName="password" required [(ngModel)]="Password">
      </mat-form-field>
      <div>
        <button matStepperNext (click)="submit()">Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Profile</ng-template>
    <table>
      <tr>
        <td>Name</td>
        <td>{{ Name }}</td>
      </tr>
      <tr>
        <td>Phone</td>
        <td>{{ Phone }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ Email }}</td>
      </tr>
      <tr>
        <td>Address</td>
        <td>{{ Address }}</td>
      </tr>
      <tr>
        <td>Username</td>
        <td>{{ Username }}</td>
      </tr>
      <tr>
        <td>Password</td>
        <td>{{ Password }}</td>
      </tr>
    </table>
    <div>
      <button mat-button matStepperPrevious>Back</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
</div>