<div class="flex">
    <h1>Admin page</h1>
</div>

<mat-list class="flex">
    <mat-list-item *ngFor="let shrit of shirts">
        <mat-card>
            <a [routerLink]="['/shirts', shrit.id]" matLine><img src={{shrit.ImageUrl}}></a>
            <p class="title" matLine>{{shrit.Name}}</p>
            <p matLine>{{shrit.Color}}</p>
            <p matLine>DKK {{shrit.Price}}</p>
            <p matLine>{{shrit.Description}}</p>
            <a mat-raised-button class="buy-button-text" [routerLink]="['/add', shrit.id]">Edit</a><br>
            <a mat-raised-button class="buy-button-text" (click)="delete(shrit.id)">Delete</a><br>
        </mat-card>
    </mat-list-item>
</mat-list>

<!-- <mat-list>
    <mat-list-item *ngFor="let shrit of shirts">
        <a [routerLink]="['/shirts', shrit.id]" matLine><img src={{shrit.ImageUrl}}></a>
        <p matLine>{{shrit.Name}}</p>
        <p matLine>{{shrit.Color}}</p>
        <p matLine>{{shrit.Price}}</p>
        <p matLine>{{shrit.Description}}</p>
        <a matLine [routerLink]="['/shirts', shrit.id]">view shirt</a><br>
        <a matLine [routerLink]="['/add', shrit.id]">edit</a>
        <mat-action-list>
            <button mat-button (click)="delete(shrit.id)">Delete</button>
        </mat-action-list>
    </mat-list-item>
</mat-list> -->